{% extends "block-base.twig" %}

{% block content %}

<div class="customBlockWrapper {{ block_class }}" id="{{ block.id }}">
    <div class="customBlock">

        {% if fields.title %}
        <p class="title">{{ fields.title }}</p>
        {% endif %}

        {% if fields.message %}
        <div class="typo">{{ fields.message }}</div>
        {% endif %}

        {% if fields.button.url %}
        <p class="overallButton smaller shadow">
            <a href="{{ fields.button.url }}" target="{{ fields.button.target }}">
                <span>{{ fields.button.title }}</span>
            </a>
        </p>
        {% endif %}

    </div>
</div>

{% endblock %}
